<div class="wrapper">
  <section class="wave-section">
    <app-sine-wave></app-sine-wave>
    <div class="intro-title">We help companies imagine and deliver a digital future.</div>
    <div class="intro-sub-title">HOW CAN WE HELP YOU?</div>
    <div class="services-container">
      <div class="service">
        <div class="service-icon">
        </div>
        <div class="service-content">
          <div class="service-title">Growth strategies</div>
          <div class="service-sub-title">We help you evolve.</div>
        </div>
        <div class="service-hover-content">
          <div class="service-title">Growth strategies</div>
          <div class="service-info">
            We help you evolve. GROWTH STRATEGIES Leverage new, emerging technologies and changes in consumer and market
            expectations.
          </div>
          <div class="service-sub-title">We help you evolve.</div>
        </div>
      </div>
      <div class="service">
        <div class="service-icon">
        </div>
        <div class="service-content">
          <div class="service-title">Growth strategies</div>
          <div class="service-sub-title">We help you evolve.</div>
        </div>
        <div class="service-hover-content">
          <div class="service-title">Growth strategies</div>
          <div class="service-info">
            We help you evolve. GROWTH STRATEGIES Leverage new, emerging technologies and changes in consumer and market
            expectations.
          </div>
          <div class="service-sub-title">We help you evolve.</div>
        </div>
      </div>
      <div class="service">
        <div class="service-icon">
        </div>
        <div class="service-content">
          <div class="service-title">Growth strategies</div>
          <div class="service-sub-title">We help you evolve.</div>
        </div>
        <div class="service-hover-content">
          <div class="service-title">Growth strategies</div>
          <div class="service-info">
            We help you evolve. GROWTH STRATEGIES Leverage new, emerging technologies and changes in consumer and market
            expectations.
          </div>
          <div class="service-sub-title">We help you evolve.</div>
        </div>
      </div>
      <div class="service">
        <div class="service-icon">
        </div>
        <div class="service-content">
          <div class="service-title">Growth strategies</div>
          <div class="service-sub-title">We help you evolve.</div>
        </div>
        <div class="service-hover-content">
          <div class="service-title">Growth strategies</div>
          <div class="service-info">
            We help you evolve. GROWTH STRATEGIES Leverage new, emerging technologies and changes in consumer and market
            expectations.
          </div>
          <div class="service-sub-title">We help you evolve.</div>
        </div>
      </div>
    </div>
  </section>
</div>
