/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
}

.wave-section {
  background: rgba(0, 0, 0, 0.3) url("assets/images/home-background.jpg") no-repeat center center;
  position: relative;
  text-align: center;
  color: #ffffff;
  padding: 50px 20px 70px 20px;
  overflow: hidden;
}

.intro-title{
  font-size: 28px;
  font-weight: 400;
}
.intro-sub-title{
  font-size: 36px;
  font-weight: 500;
}

.services-container {
  display: flex;
  margin-top: 30px;
}

.services-container .service {
  padding: 10px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.service .service-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70px;
  height: 70px;
  background-color: rgba(255,0,0,0.4);
  border-radius: 50%;
  transition: transform 250ms ease-in-out;
}

.service .service-icon::before{
  content: 'insert_chart_outlined';
  font-family: 'Material Icons';
  position: absolute;
  font-size: 32px;
  transition: opacity 600ms ease-in-out;
}

.service .service-icon::after{
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: rgba(255, 0, 0, 0.6);
  box-sizing: border-box;
  transform: rotateZ(-45deg);
  transition: transform 400ms ease-in-out;
}

.service:hover .service-icon{
  transform: scale(5);
  transition: transform 400ms ease-in-out;
}

.service:hover .service-icon::before{
  opacity: 0;
  transition: opacity 10ms ease-in-out;
}

.service:hover .service-content{
  opacity: 0;
}

.service:hover .service-icon:after{
  transform: rotateZ(315deg);
  transition: transform 400ms ease-in-out;
}

.service .service-content{
  margin-top: 20px;
}

.service .service-hover-content{
  opacity: 0;
  transition: opacity 400ms linear;
  position: absolute;
  top: 0px;
}

.service .service-title{
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

.service .service-sub-title{
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  opacity: 0.6;
  margin-top: 10px;
}

.service .service-info{
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 15px;
}

.service:hover .service-hover-content{
  opacity: 1;
  transition: opacity 600ms linear;
  padding: 0 30px;
}
